<div class="page">
	
	<div class="headline">About</div>

	<div class="about-content">
    <img src ="../assets/me.jpg" height = "200px" width = "200px">
    <div class="about-desc">
        I'm a college senior at <a href="http://cmc.edu/"> Claremont McKenna College </a> (Claremont, CA). I like data, hacking, and building web products.</br></br>

        I'll be graduating in May 2014 with majors in Math and Economics and a minor in Computer Science. These days, I take most of my CS and Math classes at either Pomona or Harvey Mudd. In the past I've been a teaching assistant for Stastical Inference (MATH152), and am currently working on a <%= link_to "thesis", sparkler_path %> in Mathematics under <a href="http://www.cmc.edu/pages/faculty/DNeedell/"> Professor Deanna Needell</a>. </br></br>

        Last summer, I interned at <a href="http://onekingslane.com"> One Kings Lane </a> in San Francisco, CA where I built an A/B testing framework and worked on a product sorting service inspired by the <a href="http://en.wikipedia.org/wiki/Multi-armed_bandit"> multi-armed bandit model</a>. Previously, I've held internships at <a href="http://ea.com"> Electronic Arts </a> and <a href="http://apipcorp.com"> Asia Pacific Investment Partners</a>. </br></br>

        I came into programming fairly late, only after taking an intro CS class the spring semester of sophomore year. Soon after I built my <a href="http://hubbly.in"> first web app </a> with <a href="http://joenewbry.me"> Joe Newbry </a> while attending the awesome <a href="http://www.cmc.edu/svp/"> Silicon Valley Program</a>. I was hooked immediately.</br></br>

        While much of the programming that I do falls into the category of "software engineering", I love hacking and am an avid hackathon goer. Hackathons are great environments for learning, meeting new people, and quickly building software products. I've had some of the most exhilarating moments of my college career while at hackathons, and I consider them a highlight of my college experience.</br></br>

        In highschool, I led an outreach and fundraising campaign to build a <a href=http://www.dailycamera.com/ci_16820759?source=rss>skatepark </a> in my hometown (Lafayette, CO), which was awarded an $875,000 grant from the Colorado Lottery. </br> </br>
    </div>
  </div>
	
</div>

<div class='about-social'>

  <div class='about-social-header'>
    Links
  </div>  

  <div class ='about-social-list'>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="https://www.facebook.com/evan.casey.92"> Facebook </a>
      </div>
    </div>
      <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://github.com/evancasey"> Github </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://twitter.com/ev_ancasey"> Twitter </a>
      </div>
    </div>
     <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.quora.com/Evan-Casey"> Quora </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.linkedin.com/in/walkerevancasey"> LinkedIn </a>
      </div>
    </div>
  
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.flickr.com/photos/evancasey/"> Flickr </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="https://soundcloud.com/ev_ancasey"> Soundcloud </a>
      </div>
    </div>
  </div>

</div>

