<div class="page">
	
	<div class="headline">About</div>

	<div class="about-content">
    <img src ="../assets/me.jpg" height = "200px" width = "220px">
    I'm a rising college senior who builds web products. I like data, hacking, startups, design, hip hop, and photography.
  </div>
	
</div>

