<div class="page">
	
	<div class="headline">About</div>

	<div class="about-content">
    <img src ="../assets/me.jpg" height = "250px" width = "250px">
    <div class="about-desc">

				Hello! My name is Evan Casey. I like to code, <%= link_to(skating_path) do %>skateboard<% end %>, take <%= link_to(photos_path) do %>photos<% end %>, and <%= link_to(travel_path) do %>travel<% end %>. </br></br>
				
				I'm a software engineer at <a href="http://tapad.com">Tapad</a> and a recent graduate of <a href="http://cmc.edu/"> Claremont McKenna College </a> (Claremont, CA). During college I was a <a href="hackny.org/a">HackNY</a> fellow and a teaching assistant for MATH152 Statistical Inference under <a href="http://www.cmc.edu/pages/faculty/DNeedell/"> Professor Deanna Needell </a>. </br></br>
				
			  Right now	I'm most interested in functional programming, distributed systems, and machine learning. Check out some of my <%= link_to(projects_path) do %>projects<% end %> to see what I've built in the past. 

        This is my personal blog. I tend to keep the posts tech-related, share code snippets, links, tips and tricks and much more.</br></br>

        Fun fact: In highschool, I raised $875,000 in grant money for a <a href=http://www.dailycamera.com/ci_16820759?source=rss>skatepark </a> in my hometown (Lafayette, CO). I also type using the DVORAK keyboard layout.</br> </br>
    </div>
  </div>
	
</div>

<div class='about-social'>

  <div class='about-social-header'>
    Links
  </div>  

  <div class ='about-social-list'>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="https://www.facebook.com/evan.casey.92"> Facebook </a>
      </div>
    </div>
      <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://github.com/evancasey"> Github </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://twitter.com/ev_ancasey"> Twitter </a>
      </div>
    </div>
     <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.quora.com/Evan-Casey"> Quora </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.linkedin.com/in/walkerevancasey"> LinkedIn </a>
      </div>
    </div>
  
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.flickr.com/photos/evancasey/"> Flickr </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="https://soundcloud.com/ev_ancasey"> Soundcloud </a>
      </div>
    </div>
  </div>

</div>

