<div class="page">
	
	<div class="headline">About</div>

	<div class="about-content">
    <img src ="../assets/me.jpg" height = "250px" width = "250px">
    <div class="about-desc">
        Hello! My name is <b>Evan Casey</b>. I am a software developer residing in New York City. I currently work at <a href="http://tapad.com">Tapad</a>. When I'm not in front of my computer, I like to skateboard, take photos, and travel. I'm also a 2014 <a href="http://hackny.org">HackNY</a> Fellow.</br></br>

        My favorite language is <b>Python</b>, although most of my current work is in Scala. In the past, I've also worked in Ruby and Javascript. I'm highly interested in the intersection between machine learning, statistics, and distributed systems and have worked on a number of amibitious <%= link_to(projects_path) do %>
          projects
        <% end %> in this area.</br> </br>

        I recently graduated from <a href="http://cmc.edu/"> Claremont McKenna College </a> (Claremont, CA), where I received degrees in Math and Economics and minored in Computer Science. I took most of math and computer science courses at Pomona and Harvey Mudd and was a teaching assistant for MATH152 Statistical Inference under <a href="http://www.cmc.edu/pages/faculty/DNeedell/"> Professor Deanna Needell </a>. </br></br>

        This is my personal blog. I tend to keep the posts tech-related, share code snippets, links, tips and tricks and much more.</br></br>

        Fun fact: In highschool, I raised $875,000 in grant money for a <a href=http://www.dailycamera.com/ci_16820759?source=rss>skatepark </a> in my hometown (Lafayette, CO). I also type using the DVORAK keyboard layout.</br> </br>
    </div>
  </div>
	
</div>

<div class='about-social'>

  <div class='about-social-header'>
    Links
  </div>  

  <div class ='about-social-list'>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="https://www.facebook.com/evan.casey.92"> Facebook </a>
      </div>
    </div>
      <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://github.com/evancasey"> Github </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://twitter.com/ev_ancasey"> Twitter </a>
      </div>
    </div>
     <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.quora.com/Evan-Casey"> Quora </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.linkedin.com/in/walkerevancasey"> LinkedIn </a>
      </div>
    </div>
  
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="http://www.flickr.com/photos/evancasey/"> Flickr </a>
      </div>
    </div>
    <div class='about-social-title'>
      <div class ='extra'>
        <a href="https://soundcloud.com/ev_ancasey"> Soundcloud </a>
      </div>
    </div>
  </div>

</div>

