<div class="page">
  
  <div class="headline">Accrediant</div>

  <div class="project"> 
    <img src ='../assets/accrediant.png' height = "400px" width = "600px">

    <div class="desc">
      Accrediant is part of a larger research project by <a href="https://www.cmc.edu/academic/faculty/profile.php?Fac=516">Professor George Batta</a> that is investigating the effect of accounting information on credit default. The Accrediant web app allows you to create your own credit reports and send them to key business partners. I was hired in Fall 2013 as a freelance consultant, where I wrote a pipeline to retrieve tax documents from the IRS website using a headless browser (phantom.js) to login and download the documents.</br></br>
      <b>Links:</b></br>
      <a href="http://accrediant.com">Website</a> </br></br>
      <b>Technologies:</b></br>
      Ruby on Rails, postgreSQL, phantom.js, jQuery</br></br>
      <b>Collaborators:</b></br>
      <a href="https://twitter.com/gbatta76"> @gbatta76 </a></br></br>

    </div>  

  </div>


  

</div>

