<div class="page">
  
  <div class="headline">Contact</div>

  <div class="about-content">
      Hi there! 
      </br></br>
      The best way to reach me is via <a href="mailto:evan.casey92@gmail.com"> email</a> or on <a href="http://twitter.com/ev_ancasey">Twitter</a>.
      </br></br>
      Please don't contact me if you are a recruiter.
  </div>

</div>

