<div class="page">
  
  <div class="headline">Exposure (under construction)</div>

  <div class="project"> 
    <img src ='../assets/exposure.png' height = "400px" width = "600px">

    <div class="desc">
      Exposure is a webapp for discovering trending photos aggregated from Instagram and other online photosharing services. The interface is a grid of photos that dynamically resize according to their popularity (users can upvote/downvote each photo). The user can also search in real-time on the Instagram API (we're hoping to add more services in the future), and click on each photo for a better look at the photo. This project is currently under construction.</br></br>
      <b>Links:</b></br>
      <a href="http://secure-eyrie-2574.herokuapp.com">Website</a> (under construction)</br>
      <a href="https://github.com/s-mcqueen/granite">Github Repo</a></br></br>
      <b>Technologies:</b></br>
      Node.js, Express, handlebars.js, masonry.js, jQuery, MongoDB</br></br>
      <b>Collaborators:</b></br>
      <a href="https://twitter.com/snmcqueen"> @snmcqueen </a>,
      <a href="https://twitter.com/josh_rael"> @josh_rael </a>,
      <a href="https://twitter.com/Datarem"> @datarem </a></br></br>
      <b>Awards:</b></br>
      Best Design at the <a href="http://5Chackathon">5C 2013 Fall Hackathon</a>
      </br>

    </div>
  </div>


  

</div>

