<div class="page">
  
  <div class="headline">Grapevine</div>

  <div class="project"> 
    <img src ='../assets/claremont_sms.png' height = "400px" width = "600px">

    <div class="desc">
      Grapevine is a social, SMS-based game for sending your friends anonymous messages. Once signed up for the service, users can send a message to anyone else signed up by simply tagging them at the beginning of the message. Grapevine then sends the message to the specified user, allowing the recipient one chance to guess the sender of the message. The site is currently non-functional as we have disconnected the Twilio number from the site for use on other projects. If you'd like a demo, let me know!</br></br>
      <b>Links:</b></br>
      <a href="http://claremont-sms.herokuapp.com">Website</a> (inactive)</br>
      <a href="https://github.com/s-mcqueen/claremont-sms">Github Repo</a></br></br>
      <b>Technologies:</b></br>
      Python/Flask, MongoDB, jQuery, Twilio API</br></br>
      <b>Collaborators:</b></br>
      <a href="https://twitter.com/snmcqueen"> @snmcqueen </a>,
      <a href="https://twitter.com/josh_rael"> @josh_rael </a>
      </br></br>
      <b>Awards:</b></br>
      Best Use of MongoDB at the <a href="http://5Chackathon">5C 2013 Spring Hackathon</a>
      </br>

    </div>

  </div>


  

</div>

