<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Evan Casey</title>
    
    <meta name="author" content="Evan Casey" />
    <link href="http://feeds.feedburner.com/" rel="alternate" title="your title" type="application/atom+xml" />
    

    <!-- Homepage CSS --> 
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/stylesheet.css">

</head>

<body>
   
  <div class ="main">

    <div class ='headline'>
        Hi, I'm Evan. I'm an engineering intern at <a href="http://onekingslane.com"> One Kings Lane</a> and an Applied Math major at Claremont McKenna College. <a href="/">More about me. </a>
    </div>

    <div class ='project-header'>
        Projects
    </div> 

    <div class ='project'>
      <a class="extra" href="http://claremont-sms.herokuapp.com">
      <img src ="../assets/claremont_sms.png" height = "120px" width = "150px">
      </a></br></br>
    
      <a class ="extra" href="http://stockviz.herokuapp.com">
      <img src ="../assets/stockviz.png" height = "120px" width = "150px">
      </a></br></br>
    
      <a class ="extra" href="http://hubbly.in">
      <img src ="../assets/hubbly.png" height = "120px" width = "150px">
      </a></br>
    </div>

    <div class ="project-desc">
      <a class="extra" href="http://claremont-sms.herokuapp.com">
        Claremont SMS
      </a>
    </div>

  </div>


  <div class="right">

    <div class ='blog-header'>
      Blog
    </div>  


    </br>
    <a class ='extra' href='http://ev.ancasey.com'>Sample Blog Post 1</a></br></br>
    <a class ='extra' href='http://ev.ancasey.com'>Sample Blog Post 2</a></br></br>
    <a class ='extra' href='http://ev.ancasey.com'>Sample Blog Post 3</a>
    </br></br>


  </div>  


</body>



</html>

