<div class ='main'>

  <div class ='headline'>

    <div class ='content'>
        <b> Hello! </b></br></br> My name is Evan Casey and I am a rising college senior who likes building things.
        software engineering intern at <a href='http://onekingslane.com'> One Kings Lane</a>.
      <%= link_to 'More about me.', about_path, :class => 'extra' %>
    </div>


    <div class='social'>

      <div class='follow'>        

        <a href="https://twitter.com/ev_ancasey" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @ev_ancasey</a>

      </div>

      <div class='follow'>

        <iframe src="http://ghbtns.com/github-btn.html?user=evancasey&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
      
      </div>

    </div>

  </div>

  <div class='grid'>

    <div class ='project-header'>
        Projects
    </div> 

    <div class ='projects-list'>

      <div class='project'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/exposure.png'>
        </a>
        <div class='desc'>
          Exposure
          <div class='tags'>
            app, hacking, social
          </div>
        </div>
      </div>

      <div class='project'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/sparkler.png'>
        </a>
        <div class='desc'>
          Sparkler
          <div class='tags'>
            machine learning, open source, distributed systems
          </div>
        </div>

      </div>

      <div class='project last'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/accrediant.png'>
        </a>
        <div class='desc'>
          Accrediant
          <div class='tags'>
            freelance, consulting, research
          </div>
        </div>
      </div>

      <div class='project'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/phonesmash.png'>
        </a>
        <div class='desc'>
          Phonesmash
          <div class='tags'>
            mobile, game, hacking
          </div>
        </div>
      </div>

      <div class='project'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/music.png'>
        </a>
        <div class='desc'>
          Music Recommender System
          <div class='tags'>
            machine learning, music, recommender systems
          </div>
        </div>
      </div>

      <div class='project last'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/onekingslane.png'>
        </a>
        <div class='desc'>
          One Kings Lane
          <div class='tags'>
            internship, software engineering
          </div>
        </div>
      </div>

      <div class ='project'>
        <a class='extra' href='http://claremont-sms.herokuapp.com'>
        <img src ='../assets/claremont_sms.png'>
        </a>
        <div class='desc'>
          Grapevine
          <div class='tags'>
            app, hacking, social
          </div>
        </div>
      </div>

      <div class= 'project'>    
        <a class ='extra' href='http://stockviz.herokuapp.com'>
        <img src ='../assets/stockviz.png'>
        </a>
        <div class='desc'>
          Visualizing the StockTweets Community
          <div class='tags'>
            data visualization, social networks, research
          </div>
        </div>
      </div>

      <div class='project last'>    
        <a class ='extra' href='http://hubbly.in'>
        <img src ='../assets/hubbly.png'>
        </a>
        <div class='desc'>
          Hubbly
          <div class='tags'>
            app, prototype, hacking
          </div>
        </div>
      </div>

    </div>

    <div class ='photos-header'>
        Photos
    </div> 

    <div class='photos-list'>

      <div class='photo'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/phonesmash.png'>
        </a>
      </div>

      <div class='photo'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/phonesmash.png'>
        </a>
      </div>

      <div class='photo last'>
        <a class ='extra' href='http://phonesma.sh'>
          <img src ='../assets/phonesmash.png'>
        </a>
      </div>

    </div>


  </div>
  
  <div class='right'>

    <div class='blog-header'>
      Blog
    </div>  

    <div class ='blog-list'>

      <% if @posts.present? %>

          <% @posts.each do |post| %>

            <div class ='blog-title'>

              <%= link_to post.title, post, :class => 'extra' %>

              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_post_path(post) %>
              <% end %>

            </div>


          <% end %>

      <% end %>

    </div>

  </div>


</div>

