<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Evan Casey</title>
    
    <meta name="author" content="Evan Casey" />
    <link href="http://feeds.feedburner.com/" rel="alternate" title="your title" type="application/atom+xml" />
    

    <!-- Homepage CSS --> 
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/stylesheet.css">

</head>

<body>
   
  <div class ="main">

    <div class ='headline'>
        Hi, I'm Evan. I'm a data intern at <a href="http://onekingslane.com"> One Kings Lane</a> and an Applied Math major at Claremont McKenna College. <%= link_to "More about me.", about_path, :class => "extra" %>
        
    </div>

    <div class ='project-header'>
        Projects
    </div> 

    <div class ='project'>
      <a class="extra" href="http://claremont-sms.herokuapp.com">
      <img src ="../assets/claremont_sms.png" height = "112.5px" width = "150px">
      </a></br></br>
    
      <a class ="extra" href="http://stockviz.herokuapp.com">
      <img src ="../assets/stockviz.png" height = "112.5px" width = "150px">
      </a></br></br>
    
      <a class ="extra" href="http://hubbly.in">
      <img src ="../assets/hubbly.png" height = "112.5px" width = "150px">
      </a></br>
    </div>

    <div class ="project-desc">
      <a class="extra" href="http://claremont-sms.herokuapp.com">
        Claremont SMS
      </a></br>

      Anonymously text your friends with the Twilio API.
      
      </br>

      <li> Python </li>
      <li> Flask </li>
      <li> Twilio API </li>
      <li> MongoDB </li>

    </br></br></br></br></br></br></br>

      <a class="extra" href="http://stockviz.herokuapp.com">
        StockTweets Influence Visualization
      </a></br>

      Visualizing user influence from $TICKER tweets in D3.js.

      </br>

      <li> D3.js </li>
      <li> Python </li>
      <li> Flask </li>
      <li> Twitter API </li>
      


      </br></br></br></br></br></br></br>

      <a class="extra" href="http://hubbly.in">
        Hubbly.in
      </a></br>

      Online food ordering prototype for the Hub Grill. 

      </br>

      <li> Python </li>
      <li> Django </li>
      <li> JQuery </li>
      <li> Twitter Bootstrap </li>

    </div>

  </div>


  <div class="right">

    <!--<div class ='subscribe'>-->
      <!--Subscribe-->
    <!--</div>-->

    <div class ='blog-header'>
      Blog
    </div>  



    <% if @posts.present? %>
        <% @posts.each do |post| %>

    <%= link_to post.title, post, :class => 'extra' %>


        <% end %>
    <% end %>


  </div>


</body>



</html>

