<div class="page">
  
  <div class="headline">Mongolia</div>

  <div class="project"> 
    <img src ='../assets/mongolia.jpg' height = "400px" width = "600px">

    <div class="desc">
      I lived in Mongolia the summer after my sophomore year while interning at <a href="http://apipcorp.com"> Asia Pacific Investment Partners</a>. It was one of the most incredible experiences I've had to date. More coming soon on this one...</br></br>
      <b> Photos: </b></br>
      <a href="http://www.flickr.com/photos/evancasey/sets/72157630706535278/"> Nadaam Week at Lake Khuvsgul </a></br>
      <a href="http://www.flickr.com/photos/evancasey/sets/72157630380222832/"> Hiking in the Bogd Khaan National Park </a>
    </div>

  </div>


  

</div>

