<div class="page">
  
  <div class="headline">Music Recommender System</div>

  <div class="project"> 
    <img src ='../assets/music2.png' height = "400px" width = "600px">

    <div class="desc">
        In Fall 2013 I worked on a music recommender system for the final project of CS158 (Machine Learning). We used the dataset from the <a href="http://www.kaggle.com/c/msdchallenge">Million Song Dataset Challenge</a> and implemented several different neighborhood-based recommendation algorithms including user-based collaborative filtering and a dynamic k-means clustering algorithm. Ultimately, we got the best results from parallelizing our collaborative filtering approach using <a href="http://pythonhosted.org/mrjob/">mrjob </a>and Amazon EMR (we rented a 10-node cluster to run it on the entire dataset).
        </br></br>
        <b>Links:</b></br>
        <a href="https://github.com/erinkidd01/CS158FinalProject">Github Repo</a></br>
        <a href="http://www.slideshare.net/EvanCasey/cs158-final-project">Presentation</a></br></br>
        <b>Technologies:</b></br>
        Python, numpy/scipy/scikit-learn, mrjob, matplotlib</br></br>
        <b>Collaborators:</b></br>
        <a href="https://twitter.com/erinkidd01"> @erinkidd01</a></br></br>
      </br>

    </div>

  </div>


  

</div>

