<div class="page">
  
  <div class="headline">Nature</div>

  <div class="project"> 

    <div class="images">
  

      <img src="http://farm8.staticflickr.com/7380/11657447465_d553011921_c.jpg" height="200px"; width="295px">
      <img src="http://farm8.staticflickr.com/7378/11787136175_4d1b45c3f6_c.jpg" height="200px"; width="295px">
      <img src="http://farm3.staticflickr.com/2827/11658466316_56d02d2778_c.jpg" height="200px"; width="295px">
      <img src="http://farm6.staticflickr.com/5543/11658291396_44488b587e_c.jpg" height="200px"; width="145px">
      <img src="http://farm4.staticflickr.com/3665/11657878223_71a0e34ef8_c.jpg" height="200px"; width="145px">
      <img src="http://farm4.staticflickr.com/3763/11660822995_9bbd38ffee_c.jpg" height="200px"; width="295px">
      <img src="http://farm6.staticflickr.com/5490/11657979363_4c133037d0_c.jpg" height="200px"; width="295px">

    </div>
  </div>


  

</div>