<div class="page">
  
  <div class="headline">One Kings Lane</div>

  <div class="project"> 
    <img src ='../assets/onekingslane.png' height = "400px" width = "600px">
    <div class="desc">
      Last summer I interned at One Kings Lane, an ecommerce startup based out of San Francisco, CA. Wrote an internal A/B testing framework used in production with one other intern, which included a javascript-heavy frontend and all the necessary backend integration using a mostly Ruby/Rails based stack. I also worked on an early version of a product sorting service inspired by the <a href="http://en.wikipedia.org/wiki/Multi-armed_bandit">multi-armed bandit model</a>.

      </br></br>
      <b>Links:</b></br>
      <a href="http://onekingslane.com">Website</a></br></br>
      <b>Technologies:</b></br>
      Ruby on Rails, Jenkins, jQuery, d3.js</br>
      Python/Flask, numpy, redis, rickshaw.js</br></br>
      <b>Mentors:</b></br>
      <a href="http://www.linkedin.com/profile/view?id=117741733"> Ryan O'Donnell </a>,
      <a href="http://www.linkedin.com/profile/view?id=4970544"> Shawn Shah </a>
      </br></br>

    </div>

  </div>


  

</div>

