<div class="page">
  
  <div class="headline">People</div>

  <div class="project"> 

    <div class="images">
  

      <img src="http://farm6.staticflickr.com/5471/11658361276_11d6e31230_c.jpg" height="200px"; width="295px">
      <img src="http://farm6.staticflickr.com/5481/11657493355_ccf0421505_c.jpg" height="200px"; width="295px">
      <img src="http://farm9.staticflickr.com/8145/7627484280_8458ba1a84_c.jpg" height="200px"; width="295px">
      <img src="http://farm9.staticflickr.com/8291/7627610420_037d66f9ee_c.jpg" height="200px"; width="295px">
      <img src="http://farm8.staticflickr.com/7256/7478061560_c28ce969db_c.jpg" height="200px"; width="295px">
      <img src="http://farm9.staticflickr.com/8006/7627570948_6e562a95ae_c.jpg" height="200px"; width="295px">

    </div>
  </div>


  

</div>