<div class="page">
  
  <div class="headline">Phonesmash</div>

  <div class="project"> 
    <img src ='../assets/phonesmash.png' height = "400px" width = "600px">

      <div class="desc">
        Phonesmash is a multiplayer game that pits players against one another in a competition to see who can throw their phone in the air for the longest amount of time! To play, go to <a href="http://phonesma.sh">phonesma.sh</a> in your browser, and have your friends open up <a href="http://phonesma.sh">phonesma.sh</a> on their iPhones. Touch, hold, and then throw your phone in the air to see who throws their phone the highest! In order to measure "hangtime", the app opens up a websocket connection and streams accelerometer data from each iPhone.</br></br>
        <b>Links:</b></br>
        <a href="http://phonesma.sh">Website</a> </br>
        <a href="https://github.com/k/phonesmash">Github Repo</a></br></br>
        <b>Technologies:</b></br>
        Node.js, Express, sockets.io, jQuery</br></br>
        <b>Collaborators:</b></br>
        <a href="https://twitter.com/snmcqueen"> @snmcqueen </a>,
        <a href="https://twitter.com/josh_rael"> @josh_rael </a>,
        <a href="https://twitter.com/thekenner33"> @thekenner33 </a></br></br>
        <b>Awards:</b></br>
        Finalist (top 10 teams) at the <a href="http://greylocku.com/hackfest/">2013 Greylock Hackfest</a>
      </br>

      </div>

  </div>


  

</div>

