<div class = 'page'>
  
  <div class = 'headline'>Projects</div>

  <div class ='content'></div>
    <div class ='projects-list'>
        <div class ='project'>
          <a class="extra" href="http://claremont-sms.herokuapp.com">
          <img src ="../assets/claremont_sms.png" height = "112.5px" width = "150px">
          </a>

          <div class ='desc'>

            <a class="extra" href="http://claremont-sms.herokuapp.com">
              Claremont SMS
            </a></br>

            Anonymously text your friends with the Twilio API.
            
            </br>

            <li> Python </li>
            <li> Flask </li>
            <li> Twilio API </li>
            <li> MongoDB </li>

          </div>
        </div>

        <div class= 'project'>    
          <a class ="extra" href="http://stockviz.herokuapp.com">
          <img src ="../assets/stockviz.png" height = "112.5px" width = "150px">
          </a>

          <div class = 'desc'>

            <a class="extra" href="http://stockviz.herokuapp.com">
              StockVis
            </a></br>

            Visualizing user influence from $TICKER tweets in D3.js.

            </br>

            <li> D3.js </li>
            <li> Python </li>
            <li> Flask </li>
            <li> Twitter API </li>

          </div>
        </div>
        <div class='project'>
          <a class ="extra" href="http://hubbly.in">
          <img src ="../assets/hubbly.png" height = "112.5px" width = "150px">
          </a>

          <div class='desc'>

            <a class="extra" href="http://hubbly.in">
              Hubbly.in
            </a></br>

            Online food ordering prototype for the Hub Grill.

            </br>

            <li> Python </li>
            <li> Django </li>
            <li> JQuery </li>
            <li> Twitter Bootstrap </li>

          </div>
        </div>
    </div>
  </div>
</div>


