<div class="page">
  
  <div class="headline">Sparkler (in progress)</div>

  <div class="project"> 
    <img src ='../assets/sparkler.png' height = "400px" width = "600px">

    <div class="desc">
      Sparkler is an open source library for building scalable recommonder systems using the <a href="http://spark.incubator.apache.org/">pySpark API</a>. Right now, the project only contains my implementations of the item-based collaborative filtering and k-means clustering algorithms (using pySpark to distribute the work across multiple processors). In the future, I'll be adding a webserver in Flask and a python client. Stay tuned!</br></br>
      <b>Links:</b></br>
      <a href="https://github.com/evancasey/sparkler">Github Repo</a> (in progress)</br></br>
      <b>Technologies:</b></br>
      Python/Flask, Spark, numpy/scipy/scikit-learn</br></br>

    </div>

  </div>


  

</div>

