<div class="page">
  
  <div class="headline">Student Investment Fund Voting</div>

  <div class="project"> 
    <img src ='../assets/sif-vote.png' height = "400px" width = "600px">

    <div class="desc">
      In Fall 2013, I built a real-time, SMS-based voting service for the <a href="http://cmcsif.org">CMC Student Investment Fund</a>. The CMC Student Investment Fund is a student-run club that manages about $500,000 of the school's endowment. Each week, students create, pitch, and vote on investment ideas using this voting service. </br></br>
      <b>Links:</b></br>
      <a href="https://github.com/evancasey/sif-vote">Github Repo</a></br>
      <a href="http://sif-voting.herokuapp.com/">Website</a></br></br>
      <b>Technologies:</b></br>
      Python/Flask, MongoDB, Twilio API, jQuery, Bootstrap</br></br>

    </div>


  </div>


  

</div>

