<div class="page">
  
  <div class="headline">Things</div>

  <div class="project"> 

    <div class="images">
  
      <img src="http://farm3.staticflickr.com/2846/11658025873_356d26c219_c.jpg" height="200px"; width="295px">
  
      <img src="http://farm4.staticflickr.com/3674/11658649716_66dd6be3a9_c.jpg" height="200px"; width="295px">
          <img src="http://farm8.staticflickr.com/7300/11658200894_2c133919f8_c.jpg" height="200px"; width="295px">
      <img src="http://farm6.staticflickr.com/5472/11657860145_ef1036b041_c.jpg" height="200px"; width="295px">
      <img src="http://farm6.staticflickr.com/5479/11658057303_9c66955465_c.jpg" height="200px"; width="295px">
      <img src="http://farm4.staticflickr.com/3817/11787905436_1aa9e891cf_c.jpg" height="200px"; width="295px">


    </div>
  </div>


  

</div>