<div class = 'page'>

  <div class = 'headline'>Blog</div>

  <div class = "content">

    <div class ='blog-list'>

    <% if @posts.present? %>

        <% @posts.each do |post| %>

          <div class ='blog-title'>

            <%= link_to post.title, post, :class => 'extra' %>

          </div>

        <% end %>

    <% end %>

    </div>

  </div>

</div>
