/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src:url('ProximaNova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
 	font-family: "ProximaNova-Regular";
  font-size: 13px;
  color: rgb(30, 30, 30);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

a {
  color: #000000;
  font-weight: normal;
  text-decoration: none;
 }

a:hover {
  color: #888;
}

img { 

}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

.last { 
	margin-bottom: 0 !important; 
	margin-right: 0 !important; 
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

/* Nav Column */

.content {
	height: 100%;
	float: left;
	margin: 0 0 0 4%;
}

.nav {
  float: left;
  text-transform: uppercase;  
  width: 10%;
  height: 100%;
  position: fixed;
}

.nav .chunk {
  height: 35px;
  width: 160px;
  margin-bottom: 30px;
  background-color: #ae2900;
}

.nav .home {
	font-size: 40px;
	text-decoration: none;
  margin-bottom: 15px;
}

.nav a.home:hover {
  color: #888;
}

.nav .extra {
	text-align: left;
	line-height: 20px;
	text-decoration: none;
  font-size: 16px;
}

.nav .extra .header {
	margin-top: 10%;
	font-weight: bold;
}

.nav .extra .header:hover {
	color: #888;
}


.nav .extra .header a {
	font-weight: bold;	
}

.nav .extra .links a {
	font-weight: normal;
	font-size: 14px;
	text-transform: none;
	display: block;
}

.nav #user_nav {
	font-size: 12px;
	color: #888;
}

.nav #user_nav a {
	font-size: 12px;
	color: #888;
	text-decoration: underline;
}

.nav a.extra:hover {
  color: #888;
}

.nav .source {
  text-transform: none;
  font-size: 14px;
  bottom: 5%;
  position: fixed;
}

.nav .source a {
  color: #ae2900;
}

/* Main content */

.main {
	float: left;
	width: 80%;
  margin: 2% 0 0 13%;
}

.main .headline {
  margin-top: 2%;
	width: 80%;
	font-size: 22px;
	color: #000000;
	float: left;
}

.main .headline .social {
	margin-left: 2%;
	margin-top: 4%;
	float: left;
}

.main .headline .content {  
  width: 70%;
  float: left;
  margin-top: 1%;
  margin-left: 0;
}

.main .grid {
	width: 56%;
	height: 100%;
	float: left;
}

/* thumbs */

.main .grid .thumb-header {
	margin: 3% 0 0 0;
	width: 98%;
	font-size: 28px;
	border-bottom: 1px solid #000000;
}

.main .grid .thumbs-list {
	margin: 2% 0 1% 0;
	width: 100%;
	font-size: 18px;
	overflow: auto;
}

.main .grid .thumbs-list .thumb {
	margin-bottom: 2%;
	margin-right: 5%;
	width: 29%;
	height: 5%;
	float: left;
	text-align: center;
}

.main .grid .thumbs-list .thumb img {
	border: 5px solid;
	border-color: #EEE;
	width: 100%;
	height: 18%;
}

.main .grid .thumbs-list .thumb .desc {
	font-size: 14px;
	margin-top: 5%;
	font-weight: bold;
	color: #ae2900;
}

.main .grid .thumbs-list .thumb .tags {
	margin-top: 1%;
	color: #AAA;
	font-size: 12px;
}


.main .grid .thumbs-list .thumb .desc li {
  font-size: 12px
}

.main .grid .thumbs-list .thumb .desc li {
	list-style: none inside;
	padding: 5px 5px 5px 5px;
	margin: 10px 10px 0px 0px;
	width: 60px;
	background-color: #f9f9f9;
	color: #888;
	text-decoration: none !important;
	border: solid 1px #eee;
	border-radius: 4px;
	float: left;
	text-align: center;
}

.main .grid .thumbs-list .thumb .desc li:hover {
	background-color: #ddd;
	color: #555 !important;
	border: solid 1px #aaa;
}

.main .grid .thumbs-list .thumb .desc a.extra {
	color: #ae2900;
	font-size: 18px;
	margin: 10px 0px 30px 0px;
}

.main .grid .thumbs-list .thumb .desc a:hover {
	color: #888;
}

.main .grid .thumbs-list .footer a {
  margin-left: 190px;
  color: #ae2900;
}

.main .headline a.extra{
	color: #ae2900;
}

.main .headline a:hover {
	color: #888;
}

/* Blog */

.main .right {
	float: left;
	height: 100%;
	width: 30%;
	margin-left: 1.5%;
}

.main .right .blog-header {
	margin: 5.6% 0 0 0;
	width: 70%;
	font-size: 28px;
	border-bottom: 1px solid #000000;
}

.main .right a.extra {
	color: #ae2900;
	/*margin: 0 0 0 10%;*/
	width: 15%;
	font-size: 18px;
	text-decoration: none;
}

.main .right a.extra:hover{
	color: #888;
}

.main .right .blog-list {

}

.main .right .blog-list .blog-title {
	margin-top: 10px;

}

.clear {
  clear: both;
}

/*****************************************************************************/
/*
/* Syntax Highlighting
/*
/*****************************************************************************/

.highlight pre{
	font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}
.highlight{background-color:#073642;color:#93a1a1}.highlight .c{color:#586e75 !important;font-style:italic !important}.highlight .cm{color:#586e75 !important;font-style:italic !important}.highlight .cp{color:#586e75 !important;font-style:italic !important}.highlight .c1{color:#586e75 !important;font-style:italic !important}.highlight .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important}.highlight .err{color:#dc322f !important;background:none !important}.highlight .k{color:#cb4b16 !important}.highlight .o{color:#93a1a1 !important;font-weight:bold !important}.highlight .p{color:#93a1a1 !important}.highlight .ow{color:#2aa198 !important;font-weight:bold !important}.highlight .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block}.highlight .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block}.highlight .ge{color:#93a1a1 !important;font-style:italic !important}.highlight .gr{color:#aa0000}.highlight .gh{color:#586e75 !important}.highlight .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block}.highlight .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block}.highlight .go{color:#888888}.highlight .gp{color:#555555}.highlight .gs{color:#93a1a1 !important;font-weight:bold !important}.highlight .gu{color:#6c71c4 !important}.highlight .gt{color:#aa0000}.highlight .kc{color:#859900 !important;font-weight:bold !important}.highlight .kd{color:#268bd2 !important}.highlight .kp{color:#cb4b16 !important;font-weight:bold !important}.highlight .kr{color:#d33682 !important;font-weight:bold !important}.highlight .kt{color:#2aa198 !important}.highlight .n{color:#268bd2 !important}.highlight .na{color:#268bd2 !important}.highlight .nb{color:#859900 !important}.highlight .nc{color:#d33682 !important}.highlight .no{color:#b58900 !important}.highlight .ni{color:#800080}.highlight .nl{color:#859900 !important}.highlight .ne{color:#268bd2 !important;font-weight:bold !important}.highlight .nf{color:#268bd2 !important;font-weight:bold !important}.highlight .nn{color:#b58900 !important}.highlight .nt{color:#268bd2 !important;font-weight:bold !important}.highlight .nx{color:#b58900 !important}.highlight .bp{color:#999999}.highlight .vc{color:#008080}.highlight .vg{color:#268bd2 !important}.highlight .vi{color:#268bd2 !important}.highlight .nv{color:#268bd2 !important}.highlight .w{color:#bbbbbb}.highlight .mf{color:#2aa198 !important}.highlight .m{color:#2aa198 !important}.highlight .mh{color:#2aa198 !important}.highlight .mi{color:#2aa198 !important}.highlight .mo{color:#009999}.highlight .s{color:#2aa198 !important}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#2aa198 !important}.highlight .s2{color:#2aa198 !important}.highlight .se{color:#dc322f !important}.highlight .sh{color:#d14}.highlight .si{color:#268bd2 !important}.highlight .sx{color:#d14}.highlight .sr{color:#2aa198 !important}.highlight .s1{color:#2aa198 !important}.highlight .ss{color:#990073}.highlight .il{color:#009999}.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%}
