<!DOCTYPE html>
<html>
<head>
  <title>Evan Casey</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	
  <div class="content">

    <div class="nav">    

      <a class='home' href="/">Evan </br>Casey</a></br></br></br>
      
      <a class="extra" href="/projects.html">Projects</a></br>
      <a class="extra" href="/blog.html">Blog</a></br>
      <a class="extra" href="/random.html">Random</a></br></br>
 
      <a class='extra' href='http://twitter.com/ev_ancasey'>Twitter</br></a>
      <a class='extra' href='http://github.com/evancasey'>Github</br></a>
      <a class='extra' href='http://facebook.com/evan.casey.92'>Facebook</a>
        

      <!--   <span class="quora-follow-button" data-name="Startups">Follow <a href="http://www.quora.com/Startups">Startups</a> on <a href="http://www.quora.com">Quora</a><script type="text/javascript" src="http://www.quora.com/widgets/follow?embed_code=WoDA35i"></script></span> -->
    </div>
   

  </div>

<%= yield %>

</body>
</html>
